<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Students</title>
</head>
<body>


<div class="section-wrapper form-bg">

    <form method="POST">
        <div class="container">
            {% csrf_token %}



            <div class="form-group">
                <label for="id_s_id" class="control-label col-sm-2 ">Student Id</label>
                <div class="col-sm-4 no-outline">
                    <input type="text" id="id_s_id" name="s_id" placeholder="student id" value="{{ students.s_id }}">

                </div>
            </div>

            <div class="form-group">
                <label for="id_name" class="control-label col-sm-2 ">Name</label>
                <div class="col-sm-4 no-outline">
                    <input type="text" id="id_name" name="name" placeholder="full name" value="{{ students.name }}">

                </div>
            </div>

            <div class="form-group">
                <label for="id_address" class="control-label col-sm-2 ">Address</label>
                <div class="col-sm-4 no-outline">
                    <input type="text" id="id_address" name="address" placeholder="address" value="{{ students.address }}">

                </div>
            </div>

            <div class="form-group">
                <label for="id_contactNo" class="control-label col-sm-2 ">Contact no</label>
                <div class="col-sm-4 no-outline">
                    <input type="text" id="id_contactNo" name="contactNo" placeholder="contact" value="{{ students.contactNo }}">

                </div>
            </div>

            <div class="form-group">
                <label for="id_dateOfBirth" class="control-label col-sm-2 ">DOB</label>
                <div class="col-sm-4 no-outline">
                    <input type="date" id="id_dateOfBirth" name="dateOfBirth"
                                         placeholder="date-of-birth" value="{{ students.dateOfBirth |  date:'Y-m-d'}}">

                </div>
            </div>

               <div class="form-group">
                <label for="id_rollNumber" class="control-label col-sm-2 ">Roll Number</label>
                <div class="col-sm-4 no-outline">
                    <input type="number" id="id_rollNumber" name="rollNumber"
                                         placeholder="Roll number" value="{{ students.rollNumber }}">

                </div>
            </div>


            <div class="form-group">
                <label for="id_guardianName" class="control-label col-sm-2 ">Guardian Name</label>
                <div class="col-sm-4 no-outline">
                    <input type="text" id="id_guardianName" name="guardianName" placeholder="Guardian Name"
                    value="{{ students.guardianName }}">

                </div>
            </div>

              <div class="form-group">
                <label for="id_batch" class="control-label col-sm-2 ">Batch</label>
                <div class="col-sm-4 no-outline">
                    <input type="text" id="id_batch" name="batch" placeholder="batch" value="{{ students.batch }}">

                </div>
            </div>

              <div class="form-group">
                <label for="id_grade" class="control-label col-sm-2 ">Grade</label>
                <div class="col-sm-4 no-outline">
                    <input type="number" id="id_grade" name="grade" placeholder="Grade" value="{{ students.grade }}">

                </div>
            </div>

             <div class="form-group">
                <label for="id_section" class="control-label col-sm-2 ">Section</label>
                <div class="col-sm-4 no-outline">
                    <input type="text" id="id_section" name="section" placeholder="section" value="{{ students.section }}">

                </div>
            </div>

              <div class="form-group">
                <label for="id_gender" class="control-label col-sm-2 ">Gender</label>
                <div class="col-sm-4 no-outline">
                    <input type="text" id="id_gender" name="gender" placeholder="Gender" value="{{ students.gender }}">

                </div>
            </div>

              <div class="form-group">
                <label for="id_email" class="control-label col-sm-2 ">Email</label>
                <div class="col-sm-4 no-outline">
                    <input type="email" id="id_email" name="email" placeholder="Email" value="{{ students.email }}">

                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn login-btn">Update</button>
            </div>
        </div>


    </form>

</div>

</body>
</html>