<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<h1 align="center">Welcome to library management system</h1>

<ul>
   <li>
<a href="{% url 'list_books' %}">List books</a>
   </li>
    <li>
<a href="{% url 'add_books' %}">Add New books</a>
    </li>
    <li>
<a href="{% url 'list_students' %}">List Students</a>
    </li>

    <li>
    <a href="#">issue a book</a>
    </li>

     <li>
    <a href="{% url 'list_faculty' %}">List Faculties</a>
    </li>
</ul>

</body>
</html>